*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: orangered;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fb9128;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.wrapper {
    height: 600px;
    width: 100%;
    background: #D3D3D3;
    padding: 5px;
    border-top: solid black 1px;
    border-bottom:  solid black 1px;
}
.About {
    width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
}
.banner{
   width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
}
.images{
     width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content:space-evenly;
    align-items: center;
}
.images img{
    height: 250px;
    width: 250px;
}
.info{
     width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content:space-evenly;
    align-items: center;
}
.info1 {
     width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content:space-evenly;
    align-items: center;
}
.banner{
    height: 200px;
    padding: 50px;
    background: gray;
}
.footer h1{
    width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content:space-evenly;
    align-items: center;
}
.footer2 h1{
    width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content:space-evenly;
    align-items: center;
}
.footer3 h1{
    width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content:space-evenly;
    align-items: center;
}

.banner1 {
    height: 100px;
    width: 100%;
    background: black;
}
.social-icons{
    width:200px;
    text-align: center;
    opacity: .4;
    position: relative;
    margin: 60px;
}
.social-icons img{
    height: 20px;
    margin: 0 14px;
}
.social-icons::after{
    content: '';
    width: 150px;
    height: 1px;
    background: #000;
    position: absolute;
    left: -160px;
    top: 10px;
}
}
.grass{
    width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content:space-evenly;
    align-items: center;
}
.grass img{
    height: 200px;
    width: 1420px;
}











